.button-container {
    min-width: 180px;
    width: auto;
    min-height: 50px;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding: 5px 15px;
    font-size: 0.9rem;
    background-color: rgb(9, 5, 31);
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content:center;
    border-radius: 25px;
    align-items: center;
    margin: 15px 15px 15px 15px;
    transition: .5s ;

  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      transition: 1s ;
    }
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
      transition: .5s ;


  
      &:hover {
        background-color: #1860d3;
        border: none;
        transition: 1s ;

      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
      transition: .5s ;

  
      &:hover {
        background-color: black;
        color: white;
        border: none;
        transition: 1s ;

      }
    }
  }
  