.categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(90, 89, 89);
    height: 100%;
    margin: 10px;
    padding: 15px;
    .category-container{
        height: 180px;
        border: 1px solid rgb(90, 89, 89);
        width: 180px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .background-image{
        width: 100%;
            background-size: cover;
            background-position: center;
        }
        .category-body-container{
            min-width: 50%;

             opacity: 0.7;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif;
            border: 1px solid rgb(90, 89, 89);
            padding: 15px;
        }
        .category-body-container:hover{
            opacity: 1;
            }
    }
}
.category-container:nth-child(5){
width: 100%;
}
